.dragbox{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 28px 20px;
gap: 24px;
align-self: flex-end;
position:absolute;
width: 60%;
height: 96%;
left: calc(65% - 1425px/2 + 223.5px);
top: calc(65% - 916px/2 + 70px);

background: rgba(245, 248, 255, 0.2);
/* Blue dark / 200 */
border: 1.2277px solid #B2CCFF;
backdrop-filter: blur(1px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 9.82162px;

}

.dragbox img{
    /* Frame 574 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 191.41px;
height: 118px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.dragbox p{
    /* Drag and drop data */

width: 222px;
height: 32px;

/* Display xs/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

/* Blue dark / 700 */
color: #004EEB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.tags{
    /* Frame 20575 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 6px 4px;
margin-bottom: 20px;
width: 412px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.tags p{
    /* Badge */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 8px;
font-size: small;
width:fit-content;
height: 22px;
justify-content: center;
/* Gray/50 */
background: #F9FAFB;
mix-blend-mode: multiply;
/* Gray/200 */
border: 1px solid #EAECF0;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.searchbar{
    /* Input with label */

/* Auto layout */
display: flex;
flex-direction:row;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 412px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.searchbar img{
    /* search-md

search, search bar, searchbar, magnify, magnifying glass, filter
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.searchbar input{
    /* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 364px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}


.boxes{
    /* Frame 574 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 6px;
gap: 16px;
isolation: isolate;
margin-top: 20px;

width: 97px;
height: 96px;

/* Gray/200 */
border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}
.upar{
     /* Frame 20518 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
/* padding: 4px 0px; */
/* gap: 10px; */

position:relative;
width: 16px;
height: 24px;
left: -35px;
top: 10px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 1;


}
.cen{
/* Frame 20520 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

/* Blue dark / 50 */
background: #EFF4FF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}



.row3{
    /* Frame 20577 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 412px;
height: 96px;
margin-bottom: 20px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

}




.boxes p{
  /* Vendor */

width: 49px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: xx-large;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/900 */
color:black;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
